body {
    background-color: #d6d7d9;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1f2820;
}

h1 {
    text-align: center;
    font-size: 55px;
}

.navigator {
    text-align: left;
}

.div-1 {
    font-weight: lighter;
    text-align: left;
}

.div-2 {
    text-decoration: underline;
}

.div-3 {
    text-decoration: underline;
}